.locale {
  position: relative;
  @media (max-width: 1024px) {
    display: none;
  }

  > a {
    gap: 0.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  ul {
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    margin: 0.4rem 0 0 0;
    padding: 0 0.8rem;
    white-space: nowrap;
    background: #fff;
    list-style: none;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    gap: 0.6rem;
    transition: height 0.15s;
    z-index: 10;

    &.visible {
      height: auto;
      padding: 0.4rem;
      border: 1px solid #e5e5e5;
    }

    a {
      padding: 0.4rem 0.6rem;
      font-size: 0.875rem;
      color: initial;
      text-decoration: none;
      border-radius: 6px;
      display: block;
      transition: all 0.15s;

      &:hover {
        color: #274FEE;
        background: #274FEE0D;
      }
    }
  }

  .more {
    font-size: 0.875rem;
    transform: rotate(90deg);
  }
}
