package-manager-strict=false

# Registry
@univerjs:registry=http://verdaccio.univer.work
@univerjs-pro:registry=http://verdaccio.univer.work # If you DO NOT have access to this registry, please remove this line
