---
import Navbar from '@/components/Navbar'

interface Props {
  title: string[]
  desc: string
  hideButton?: boolean
  showDesc?: boolean
}

const { title, desc, hideButton = false, showDesc = false } = Astro.props
---

<Navbar client:load transitionWithParent />

<header id="univer-hero" class="relative bg-[url(https://gcore.jsdelivr.net/gh/dream-num/official-website@gh-pages/images/hero.jpg)] bg-cover bg-center md:h-160 2xl:h-200" class:list={[showDesc ? "h-140" : "h-80"]}>
  <div class="absolute w-full h-full bg-black opacity-40" />

  <section class="absolute left-10% w-80% h-full flex flex-col justify-center items-center gap-8">
    <h1 class="flex flex-col items-center gap-8 text-white font-700 text-5xl">
      {title.map((title, index) => (
        <span class:list={[
          { 'text-5 font-400 md:font-700 md:text-5xl': index > 0 }
        ]}>
          {title}
        </span>
      ))}
    </h1>

    <p class="md:block text-white text-5/8 text-center" class:list={[showDesc ? "" : "hidden"]}>{desc}</p>

    <div class="flex gap-8" style={{display: hideButton ? 'none': 'flex'}}>
      <button
        id="contact-us"
        class="px-8 py-2 bg-white md:bg-transparent text-#35322b md:text-white rounded border-white border-2"
      >
        联系我们
      </button>

      <button
        class="hidden md:inline-block px-8 py-2 text-#35322b bg-white rounded border-white border-2"
      >
        我要试用
      </button>
    </div>
  </section>
</header>

<script>
document.getElementById('contact-us')?.addEventListener('click', () => {
  window.scrollTo({
    top: document.body.scrollHeight,
    behavior: 'smooth'
  })
})  
</script>
