---
interface Props {
  align?: 'center' | 'left'
}

const { align = 'left' } = Astro.props
---

<p
  class:list={[
    'md:text-2xl/2.5rem',
    'u-text-tip',
    { 'text-center': align === 'center' },
    { 'md:px-24': align === 'center' }
  ]}
>
  <slot />
</p>
