---
import Layout from '@/layouts/Layout.astro'
import Search from '@/components/Search/index.astro'
import Button from '@/components/Button/index.astro'

const tech = [{
  title: '在线导入导出 Excel 相关'
}, {
  title: '导出 PDF 时的常见问题'
}, {
  title: '使用公式函数时的技术点'
}, {
  title: '数据绑定相关问题'
}, {
  title: '与 JavaScript 框架集成'
}, {
  title: 'Univer 使用常见问题（FAQ）汇总'
}]

const sales = [{
  title: '产品授权相关'
}, {
  title: '源码授权相关'
}, {
  title: '历史版本功能汇总'
}, {
  title: '会员服务相关'
}, {
  title: '新用户活动政策'
}]
---

<Layout title="Univer">
  <section class="grid gap-8 md:gap-30">
    <Search placeholder="搜索视频、文章、课程、问题" />

    <section class="grid gap-4 md:gap-12">
      <h2 class="font-700 md:font-normal text-xl md:text-2.5rem/3.5 u-text-title">
        技术问题
      </h2>

      <ul>
        {tech.map(item => (
          <li class="border-b-1 u-border-default py-2">
            <a class="u-text-primary cursor-pointer">
              {item.title}
              →
            </a>
          </li>
        ))}
      </ul>
    </section>

    <section class="grid gap-4 md:gap-12">
      <h2 class="font-700 md:font-normal text-xl md:text-2.5rem/3.5 u-text-title">
        售后服务问题
      </h2>

      <ul>
        {sales.map(item => (
          <li class="border-b-1 u-border-default py-2">
            <a class="u-text-primary cursor-pointer">
              {item.title}
              →
            </a>
          </li>
        ))}
      </ul>
    </section>
  </section>
  
  <section
    slot="append"
    class="h-85 mb-30 u-bg-primary text-white hidden md:flex flex-col justify-center items-center"
  >
    <h2 class="u-text-default font-700 text-6xl mb-5">
      无法解决您的问题？
    </h2>

    <p class="mb-7.5 u-text-default">联系我们的技术人员获得支持</p>

    <Button type="secondary" size="medium">联系支持</Button>
  </section>
</Layout>
