/* MainContent.css */
.main-content {
  text-align: center;
  max-width: 800px;
  /* Adjust as needed for your design */
  margin: 56px auto 0 auto;
}

.main-content__title {
  color: #0f172a;
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 60px;
  margin-top: 56px;
  /* 100% */
}

.main-content__title_center {
  background: linear-gradient(91deg, #5357ed 32.9%, #40b9ff 44.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 3px;
}

.main-content__title_emoji {
  font-style: normal;
  height: 50px;
  margin-left: 14px;
  display: inline-block;
}

.main-content__title_emoji img {
  height: 100%;
}

.main-content__description {
  color: #0f172a;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  margin: 26px 0 24px 0;
}

.main-content__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0px 24px;
  border: none;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  transition: background-color 0.3s ease;
  border-radius: 32px;
}

.main-content__button--started {
  position: relative;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #5357ed 0%, #40b9ff 104.41%);
  cursor: pointer;
  overflow: hidden;
  display: inline-block;

  color: #f8f9fc;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* Make sure the button wraps the text appropriately */
}

.main-content__button--started:hover {
  background: linear-gradient(90deg, #5357ed 0%, #5357ed 104.41%);
}

.main-content__button--github {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  background: #393e46;
}

.main-content__button--github:hover {
  background: #4f545d;
}

.main-content__github-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.4rem;
  /* Space between the icon and the text */
  vertical-align: middle;
  /* Align the icon vertically with the text */
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  .main-content__title {
    font-size: 1.5rem;
  }

  .main-content__title img {
    height: 20px;
  }

  .main-content__description {
    font-size: 0.9rem;
  }

  .main-content__buttons {
    flex-direction: column;
  }

  .main-content__button {
    /* Full width buttons on mobile */
    margin-bottom: 0.5rem;
  }
}
