:root {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'PingFang SC',
    'Hiragino Sans GB',
    'noto sans',
    'Microsoft YaHei',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;

  --sl-color-accent: #274fee !important;
  --sl-content-width: 52rem;

  --sl-text-h1: var(--sl-text-4xl);
  --sl-text-h2: var(--sl-text-3xl);
  --sl-text-h3: var(--sl-text-2xl);
  --sl-text-h4: var(--sl-text-xl);
  --sl-text-h5: var(--sl-text-lg);

  --sl-color-blue: rgb(159, 218, 255);
  --sl-color-blue-low: rgb(0, 108, 174, 0.7);
  --sl-color-blue-high: rgb(45, 174, 255);
  &[data-theme='light'] {
    --sl-color-blue: #274fee;
    --sl-color-blue-low: #e8ecfd;
    --sl-color-blue-high: #3a60f7;
  }
}

.site-title {
  --sl-nav-gap: 0.5rem;
}

.pagination-links a {
  --sl-shadow-md: 0px 0px 24px 0px rgba(31, 35, 39, 0.04);
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  transition: all 0.15s;
}
.pagination-links a:hover {
  background: #f5f5f5;
}

.link-title {
  --sl-text-2xl: 1rem;
}

.sl-markdown-content img {
  border-radius: 6px;
  box-shadow: 0 8px 24px #1f23271f;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
}

.sl-container {
  margin: auto;
}

.right-sidebar .sl-container {
  margin: 0;
}

.sidebar-pane {
  scrollbar-color: #73737366 transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

@media (min-width: 100rem) {
  .sidebar-pane {
    width: 18rem;
    margin-left: 50%;
    background-color: transparent;
    transform: translateX(-45rem);
  }

  .right-sidebar-container {
    width: 18rem;
  }

  [data-has-sidebar][data-has-toc] .main-pane {
    width: calc(100% - 18rem);
  }

  .main-frame {
    width: 90rem;
    margin: 0 auto;
    padding-left: 18rem;
  }
}

.expressive-code .frame {
  box-shadow: none !important;
}
.expressive-code .frame.has-title:not(.is-terminal) .header,
.expressive-code .frame.is-terminal .header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.expressive-code .frame.has-title:not(.is-terminal) .header .title {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.expressive-code .frame.has-title pre,
.expressive-code .frame.has-title code,
.expressive-code .frame.is-terminal pre,
.expressive-code .frame.is-terminal code {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  border-radius: 4px;
}
.sl-markdown-content blockquote:not(:where(.not-content *)) {
  border-inline-width: 4px;
}

.starlight-aside {
  border-radius: 6px;
}
