---
import Companies from '@/components/LandingFragments/Companies.astro'
import Features from '@/components/LandingFragments/Features.astro'
import Hero from '@/components/LandingFragments/Hero.astro'
import Tech from '@/components/LandingFragments/Tech.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout lang="ja-jp" title="Univer">
  <main>
    <Hero />

    <Features />

    <Tech />

    <Companies />
  </main>
</Layout>
