---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar'
import ResponsiveContainer from '@/components/ResponsiveContainer'
import Input from '@/components/Input'

const list = [{
  category: '技术问题',
  items: [{
    title: '在线导入导出 Excel 相关'
  }, {
    title: '导出 PDF 时的常见问题'
  }, {
    title: '数据绑定相关问题'
  }, {
    title: '与 JavaScript 框架集成'
  }, {
    title: 'Univer 使用常见问题（FAQ）汇总'
  }]
}, {
  category: '售后服务问题',
  items: [{
    title: '产品授权相关'
  }, {
    title: '源码授权相关'
  }, {
    title: '历史版本功能汇总'
  }, {
    title: '会员服务相关'
  }, {
    title: '新用户活动政策'
  }]
}]
---

<Layout title="帮助中心 / Univer">
  <Navbar client:load mode="white" />

  <ResponsiveContainer>
    <main class="py-28 grid gap-28">
      <search class="grid gap-10">
        <Input
          placeholder="搜索视频、文章、课程、问题"
        />
        <div class="hidden md:flex gap-12 mx-auto text-#999999">
          <label class="text-#35322b text-4.8">热门搜索：</label>
          <a>如何快速入手Univer</a>
          <a>应用之间应如何快速嵌套</a>
          <a>表格</a>
          <a>新手引导</a>
          <a>数据绑定</a>
        </div>
      </search>

      {list.map(({ category, items }) => (
        <section class="grid gap-10">
          <h2 class="font-700 md:font-400 text-#35322b text-6.4">{category}</h2>
          <ul class="grid">
            {items.map(({ title }) => (
              <li class="text-#ffbd37 text-4.8 border-b-1 border-#e5e5e5">
                <a class="py-4 block">{title} →</a>
              </li>
            ))}
          </ul>
        </section>
      ))
    </main>
  </ResponsiveContainer>
</Layout>
