---
import { IconsPage } from '@/components/IconsPage'
import Layout from '@/layouts/Layout.astro'
---

<Layout lang="en-us" title="Icons | Univer">
  <main>
    <IconsPage client:only />
  </main>
</Layout>
