---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero/index.astro'
import ResponsiveContainer from '@/components/ResponsiveContainer'
import VerticalContent from '@/components/VerticalContent/index.astro'
import HorizontalContent from '@/components/HorizontalContent/index.astro'
import { SheetIcon, DocIcon, MindmapIcon, SlideIcon, PDFIcon } from '@/components/Icons'
---

<Layout title="了解 Univer / Univer">
  <Hero
    title={['Univer 是什么']}
    desc="Univer 包罗万象，抽象出了效率工具的本质为表格、文档、画布，能够衍生出各种各样的效率工具产品，涵盖大型编辑器项目架构设计、高性能排版渲染引擎、高性能公式计算引擎、实时协同编辑、AIGC 等技术主题。体现到具体形态上有 Sheet、Doc、Slide、PDF 等，插件化，业务线上化，数据产业化。"
  />

  <ResponsiveContainer>
    <main class="py-28 grid gap-28">
      <VerticalContent
        title="Univer 可以做什么"
        desc="Univer 是一款串联企业工作流的效率组件库，兼容 Sheet、Doc、Slide、PDF 等主流办公软件，它与企业系统融合，串联公司业务流程，连接业务数据，加速企业工作流"
      />

      <HorizontalContent
        position="left"
        cover="https://gcore.jsdelivr.net/gh/dream-num/official-website@gh-pages/images/products/01.png"
        prefix={SheetIcon}
        title="Sheet"
        desc={[
          '兼容 Excel 数据格式，高度类似 Excel 的使用体验',
          '全面函数覆盖，400+ 公式，满足 90% 办公函数需求',
          '灵活权限控制，单元格锁定，个性化协作，保护数据安全',
          '多人在线协作编辑，提高工作效率，完美适应工作习惯',
        ]}
      />

      <HorizontalContent
        position="right"
        cover="https://gcore.jsdelivr.net/gh/dream-num/official-website@gh-pages/images/products/02.png"
        prefix={DocIcon}
        title="Doc"
        desc={[
          '摒弃繁琐的文件传输过程，一键共享，简化沟通流程，提高编辑效率',
          '打破系统壁垒，实现跨场景多人协作，让您无论何时何地都能轻松开展工作，满足各种办公场景的需求',
          '功能丰富，支持附件插入、预览，全面整合项目资料，方便管理和回溯'
        ]}
      />

      <HorizontalContent
        position="left"
        cover="https://gcore.jsdelivr.net/gh/dream-num/official-website@gh-pages/images/products/03.png"
        prefix={PDFIcon}
        title="PDF"
        desc={[
          '界面简洁，完美兼容 PDF 格式',
          '丰富的批注功能，及多样化批注展示模式',
          '自动翻页，更好阅读体验',
          '让 PDF 像 Word 一样自由编辑，快速修改文档内容',
          '丰富的图片、表格编辑功能，让修改更简单',
          '提供 AI 识别，全文翻译等增强功能',
        ]}
      />

      <HorizontalContent
        position="right"
        cover="https://gcore.jsdelivr.net/gh/dream-num/official-website@gh-pages/images/products/04.png"
        prefix={SlideIcon}
        title="Slide"
        desc={[
          '兼容 ppt 数据格式，拥有各式主题模板、动画效果和形状样式供您选择',
          '支持多人跨设备实时协作编辑，允许在任意位置添加注释，能自动保存历史版本并支持版本回溯',
          '演示模式和视图模式随心切换，满足你不同场景下的需求'
        ]}
      />
    </main>
  </ResponsiveContainer>
</Layout>
