---
import Layout from '@/layouts/Layout.astro'
import Block from '@/components/Block/index.astro'
---

<Layout title="Univer">
  <section class="grid gap-8 md:gap-30">
    <Block
      title="无需跨平台在 Univer 就是这么简单"
      desc="Univer 可自由嵌套 Word、Excel、PowerPoint、思维导图等多类主流办公软件，无需跨越多个平台，直接在 Univer 即可解决你的工作需求。"
      align="left"
      imgUrl="/images/pages/products/01.png"
    />

    <Block
      title="纯前端组件跨平台应用嵌入"
      desc="Univer 支持跨平台开发，使用其功能无需预装任何插件或第三方组件，支持以原生的方式嵌入各类应用，与各类后端技术框架相结合。"
      align="right"
      imgUrl="/images/pages/products/02.png"
    />

    <Block
      title="在线导入、导出 Excel"
      desc="Univer 无需借助后台代码和第三方组件，可直接在浏览器中完成 Excel、CSV、JSON 等文件的导入导出、PDF 导出、打印及预览操作。"
      align="left"
      imgUrl="/images/pages/products/03.png"
    />

    <Block
      title="业界领先的 Excel 兼容度"
      desc="Univer 内置 18 种条件格式、32 种图表、53 项单元格格式和 182 种形状，完全支持 Excel 数据格式，可向 Web 系统中轻松嵌入 Excel 功能。"
      align="right"
      imgUrl="/images/pages/products/04.png"
    />

    <Block
      title="强大的公式计算引擎"
      desc="Univer 兼容 450 多种 Excel 计算公式，可满足用户自定义、跨表格引用、异步调用等多场景计算需求，实现数据聚合，让有效数据不断完善。"
      align="left"
      imgUrl="/images/pages/products/05.png"
    />
  </section>
</Layout>
