---
import { LogoIcon, GithubIcon, DiscordIcon, WechatIcon } from '@/components/Icons'
import ResponsiveContainer from '@/components/ResponsiveContainer'
---

<footer>
  <section class="flex items-center h-110 md:h-96 text-white bg-#606060">
    <ResponsiveContainer class="grid grid-cols-12 grid-rows-3 md:grid-cols-4 md:grid-rows-2">
      <div class="col-span-8 row-span-1 md:col-span-3 md:row-span-1 grid gap-2">
        <LogoIcon fill="#ffffff" />
        <p class="text-xl font-700 md:tracking-0.25em">串联工作流让业务更高效</p>
      </div>

      <div class="col-span-4 row-span-3 self-end justify-self-end md:col-span-1 md:row-span-2">
        <img class="w-full md:h-64" src="https://gcore.jsdelivr.net/gh/dream-num/official-website@gh-pages/images/qrcode.png" alt="qrcode" />
      </div>

      <div class="col-span-8 row-span-2 md:col-span-3 md:row-span-1 grid md:grid-cols-3 gap-2 lg:gap-28">
        <div class="flex flex-col justify-end gap-6">
          <span>上海梦数科技有限公司</span>
          <span>
            <span class="block md:block lg:block xl:inline-block text-nowrap">地址：上海市浦东新区上海</span>
            <span class="text-nowrap">证券大厦</span>
          </span>
        </div>

        <div class="flex flex-col justify-end gap-6">
          <span>商务合作：sales@univer.ai</span>
          <span>技术支持：developer@univer.ai</span>
        </div>

        <div class="flex items-end gap-6">
          <a href="https://github.com/dream-num/univer">
            <GithubIcon />
          </a>
          <a href="https://discord.gg/z3NKNT6D2f">
            <DiscordIcon />
          </a>
          <a>
            <WechatIcon />
          </a>
        </div>
      </div>
    </ResponsiveContainer>
  </section>

  <section class="h-70 flex justify-center items-center">
    <p class="text-#999999 flex md:block flex-col gap-4 items-center">
      <span class="md:mr-2">Copyright &copy; 2021-2023 Mengshu. All Rights Reserved.</span>
      <span class="md:mr-8">上海梦数科技 版权所有</span>
      <span>
        <a>服务协议</a> | <a>隐私政策</a>
      </span>
    </p>
  </section>
</footer>
