---
interface Props {
  items: {
    color: string
    icon: string
    title: string
    href: string
    type?: string
  }[]
}

const { items } = Astro.props
---

<section class="playground-btns">
  {items.map(({ color, icon, title, href, type }) => (
    <a href={href} target="_blank" style={{ '--color': color }}>
      <div class="icon">
        {icon}
      </div>

      <span>
        {title}
        <sup>{type}</sup>
      </span>
    </a>
  ))}
</section>

<style lang="less">
.playground-btns {
  display: grid;
  gap: 1rem;

  @media (min-width: 72rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid var(--sl-color-hairline);
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;
    &:hover {
      span {
        color: var(--color);
      }
    }

    .icon {
      width: 2rem;
      height: 2rem;
      font-size: 0.875rem;
      background: var(--color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
    }

    span {
      font-weight: 600;
      color: var(--sl-color-white);
      transition: color 0.2s;

      sup {
        font-weight: 400;
        color: var(--sl-color-gray-2);
      }
    }
  }
}
</style>
