---
import type { CollectionEntry } from 'astro:content'
import dayjs from 'dayjs'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<section class="post">
  <section class="wrapper">
    <header class="header">
      <h1>{post.data.title}</h1>

      <div class="meta">
        <span>
          {post.data.author}
        </span>
        <time datetime={post.data.date.toString()}>
          {dayjs(post.data.date).format('YYYY-MM-DD')}
        </time>
      </div>
    </header>

    <article class="article">
      <slot />
    </article>
  </section>
</section>

<style lang="less" scoped>
.post {
  margin-bottom: -3rem;
  padding-top: 3.875rem;
  padding-bottom: 9rem;
  background: #fff;

  .wrapper {
    max-width: 834px;
    margin: 0 auto;
    padding: 0 20px;

    .header {
      display: grid;
      gap: 2rem;

      h1 {
        margin: 0;
        font-size: 3rem;
      }

      .meta {
        color: #999;
        font-size: 0.875rem;
        display: grid;
        gap: 0.5rem;
      }
    }

    .article {
      color: #1e222b;
      line-height: 2;
      font-size: 1rem;

      :global(p > code) {
        padding: 0.25rem 0.5rem;
        color: #fff;
        font-size: 0.875rem;
        background: #1e252f;
        border-radius: 0.25rem;
      }

      :global(p a[href]) {
        text-decoration: none;
        border-bottom: 1px solid currentColor;
      }

      :global(img) {
        height: auto;
        max-width: 100%;

        display: inline-block;
      }

      :global(blockquote) {
        margin: 0;
        padding: 0 1rem;
        color: #999;
        font-style: italic;
        border-left: 0.25rem solid #1e222b;
      }

      :global(.expressive-code) {
        background: #fafdff;
        @media (prefers-color-scheme: dark) {
          background: #1e252f;
        }
      }

      :global(.starlight-aside) {
        margin: 1em 0;
        padding: 0.2em 1em;
        border-inline-start: 0.25rem solid;
      }

      :global(.starlight-aside--note) {
        border-color: rgba(45, 174, 255);
        background-color: rgba(45, 174, 255, 0.2);
      }

      :global(.starlight-aside__title) {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.1em;
        display: inline-flex;
        align-items: center;
        gap: 0.2em;
      }

      :global(a) {
        color: #274fee;
        &:hover {
          color: #3A60F7;
        }
      }
    }
  }
}
</style>
