
.horizontal-content {
    grid-template-areas:
    "cover desc"
    "cover desc";
  }

  @media (min-width: 768px) {

    .horizontal-content {
      display: grid;
      grid-template-areas:
        "desc cover";
      grid-template-columns: 3fr 2fr; /* 调整列的大小比例 */
    }
  }

  .horizontal-content .cover {
    grid-area: cover;

    display: flex;
    align-items: flex-start;
    min-height: 912px;
  }



  .horizontal-content .desc {
    grid-area: desc;

    display: flex;
    align-items: flex-start;
    min-height: 912px;
  }
