---
import Footer from '@/components/Footer/index.astro'
import Header from '@/components/Header/index.astro'
import Wrapper from '@/components/Wrapper/index.astro'

interface Props {
  lang: string
  title: string
}

const { lang, title } = Astro.props
---

<Wrapper lang={lang} title={title}>
  <section class="container">
    <Header />
    <slot />
    <Footer />
  </section>
</Wrapper>

<style lang="less" scoped>
.container {
  background: #E4F4FE33;
}
</style>
