/* .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
} */

/* CardsContainer.css */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 48px;
  padding: 80px 10px;
  max-width: 1200px; /* Ensures that the container doesn't stretch too wide */
  margin: auto; /* Centers the container */
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 360px);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
