/* Card.css */
.card {
  background-color: #fff;
  overflow: hidden;
}

.card__image-placeholder {
  background-color: #f0f0f0;
  /* Placeholder color, replace with actual image styles */
  height: 216px;
  /* Adjust as per your design */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #ccc;
  border-radius: 16px;
  padding: 16px;
  background: #676ebc;
  box-sizing: border-box;
  transition: padding 0.3s ease;
}

.card__image-placeholder:hover {
  padding: 12px;
}

.card__image-placeholder__inner {
  display: inline-block;
  /* Adjust color to match your design */
  text-decoration: none;
  border-radius: 16px;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 100%;
}

.card__image-placeholder__inner:hover {
  cursor: pointer;
}

.card__title {
  margin: 24px 0 12px 0;

  color: #0f172a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 130% */
}

.card__description {
  color: #0f172a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card__link {
  display: inline-block;
  /* Adjust color to match your design */
  text-decoration: none;
  margin: 12px 0 52px 0;
  color: #0019fe;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.card__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .card {
    margin: 1rem 0.5rem;
  }

  .card__image-placeholder {
    height: 150px;
  }
}
